## https://www.kaggle.com/c/instacart-market-basket-analysis

- aisles.csv       

- order_products__prior.csv  

- orders.csv    

- sample_submission.csv

- departments.csv

- order_products__train.csv

- products.csv

### instructions:

> order_products_prior give the order information of all users in the history. order_products_train give the current order information of some users. You need to predict the current order of rest of users.

In [1]:
import numpy as np
import pandas as pd
import pickle

from tqdm import *

In [2]:
DATA_ROOT = "/media/felipe/ssd_vol/instacart/"
PICKLE_ROOT = DATA_ROOT+"pickle/"

In [3]:
aisles_df = pd.read_csv(DATA_ROOT+"aisles.csv")

In [4]:
last_items_ordered_df = pd.read_csv(DATA_ROOT+"order_products__train.csv")

In [5]:
orders_df = pd.read_csv(DATA_ROOT+"/orders.csv")

In [6]:
departments_df = pd.read_csv(DATA_ROOT+"/departments.csv")

In [7]:
products_df = pd.read_csv(DATA_ROOT+"/products.csv")

In [8]:
prior_items_ordered_df = pd.read_csv(DATA_ROOT+"order_products__prior.csv")

## aisles

In [9]:
aisles_df.sample(5)

     aisle_id                   aisle
13         14  tofu meat alternatives
28         29   honeys syrups nectars
102       103      ice cream toppings
19         20            oral hygiene
20         21         packaged cheese

## departments

In [10]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

## products

In [11]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [12]:
len(products_df)

49688

## orders

In [13]:
orders_df.sample(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
520921,2073290,31403,prior,2,1,21,8.0
3252982,328148,196080,prior,3,4,19,19.0
1806763,3249707,108506,prior,15,1,14,16.0
77075,348983,4705,prior,48,6,11,18.0
2345560,2604624,141190,prior,43,1,12,1.0
1017800,1892103,61174,prior,9,0,20,6.0
348737,2337249,21096,prior,6,0,11,14.0
3033180,3210775,183016,prior,1,3,11,NaN
856701,1801466,51471,prior,9,5,17,8.0
1808613,3249971,108603,prior,10,5,18,30.0

In [14]:
orders_df.groupby('eval_set').count()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
eval_set,,,,,,
prior,3214874,3214874,3214874,3214874,3214874,3008665
test,75000,75000,75000,75000,75000,75000
train,131209,131209,131209,131209,131209,131209

In [15]:
len(orders_df[orders_df['eval_set']=='test']['order_id'].unique())

75000

In [16]:
last_items_ordered_df

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

## denormalizing

In [17]:
last_items_ordered_df = pd.merge(last_items_ordered_df,orders_df,on='order_id',how='left')

In [18]:
prior_items_ordered_df = pd.merge(prior_items_ordered_df,orders_df,on='order_id',how='left').drop('order_id',axis=1)

In [19]:
unique_user_ids = set(orders_df.groupby('user_id').groups.keys())

In [20]:
unique_user_ids

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...}

In [21]:
len(unique_user_ids)

206209

In [22]:
unique_product_ids = set(products_df['product_id'].values)

In [23]:
len(unique_product_ids)

49688

## what is the static reorder_factor for each user?

I.e. what percentage of products is reordered?

> i must do count and them sum because the mean is split into the two datasets, and mean of means wouldn't be right

In [24]:
dict_prior = prior_items_ordered_df.groupby('user_id').agg({'reordered': [np.size, np.sum]}).to_dict()

In [25]:
dict_last = last_items_ordered_df.groupby('user_id').agg({'reordered': [np.size, np.sum]}).to_dict()

In [26]:
dict_count_prior= dict_prior[('reordered','size')]
dict_sum_prior = dict_prior[('reordered','sum')]

In [27]:
dict_count_last= dict_last[('reordered','size')]
dict_sum_last = dict_last[('reordered','sum')]

In [28]:
static_user_reorder_factors = dict()

for user_id in unique_user_ids:
    
    user_factor = 0
    
    count_prior = dict_count_prior.get(user_id,0)
    sum_prior = dict_sum_prior.get(user_id,0)
    
    count_last = dict_count_last.get(user_id,0)
    sum_last = dict_sum_last.get(user_id,0)

    denominator = (count_prior+count_last)
    
    if denominator == 0:
        static_reorder_factor = 0
    else:
        static_reorder_factor = (sum_prior+sum_last) / denominator
    
    static_user_reorder_factors[user_id] = static_reorder_factor

## now do the same for each product

In [29]:
dict_prior = prior_items_ordered_df.groupby('product_id').agg({'reordered': [np.size, np.sum]}).to_dict()

In [30]:
dict_last = last_items_ordered_df.groupby('product_id').agg({'reordered': [np.size, np.sum]}).to_dict()

In [31]:
dict_count_prior= dict_prior[('reordered','size')]
dict_sum_prior = dict_prior[('reordered','sum')]

In [32]:
dict_count_last= dict_last[('reordered','size')]
dict_sum_last = dict_last[('reordered','sum')]

In [33]:
static_product_reorder_factors = dict()

for product_id in unique_product_ids:
      
    count_prior = dict_count_prior.get(product_id,0)
    sum_prior = dict_sum_prior.get(product_id,0)
    
    count_last = dict_count_last.get(product_id,0)
    sum_last = dict_sum_last.get(product_id,0)

    denominator = (count_prior+count_last)
    
    if denominator == 0:
        static_reorder_factor = 0
    else:
        static_reorder_factor = (sum_prior+sum_last) / denominator
    
    static_product_reorder_factors[product_id] = static_reorder_factor

### what are all products ever ordered by each user?

> remember to use both prior and last orders

In [34]:
all_products_ordered_by_user = dict()

for user_id in tqdm(unique_user_ids):
    prior_products = prior_items_ordered_df[prior_items_ordered_df['user_id']==user_id]['product_id'].values
    last_products = last_items_ordered_df[last_items_ordered_df['user_id']==user_id]['product_id'].values
    
    uniq = set(prior_products.tolist()+last_products.tolist())
    
    all_products_ordered_by_user[user_id] = uniq
    
pickle.dump(all_products_ordered_by_user,open(PICKLE_ROOT+"all_products_ordered_by_user.p","wb"))

  5%|▌         | 11119/206209 [04:51<1:22:46, 39.28it/s]

KeyboardInterrupt:

  5%|▌         | 11119/206209 [05:10<1:30:43, 35.84it/s]

In [ ]:
max(all_products_ordered_by_user.keys())

In [ ]:
def make_prediction(user_id,threshold):
    """
    returns a list of product_ids
    """
    
    user_reorder_factor = static_user_reorder_factors[user_id]
    
    product_ids_ordered_by_user = all_products_ordered_by_user[user_id]
    
    product_factors = [static_product_reorder_factors[i] for i in product_ids_ordered_by_user]
    
    pred = list()
    
    for product_id in all_products_ordered_by_user[user_id]:
        weighted = user_reorder_factor * static_product_reorder_factors[product_id]
    
        if weighted > threshold:
            pred.append(product_id)
    
    
    return pred

### build submission

In [ ]:
test_orders = orders_df[orders_df['eval_set']=='test']

In [ ]:
test_orders_and_users = test_orders[["order_id","user_id"]].values

In [ ]:
test_orders_and_users.sort(axis=0)

### first submission: chance of each product being re-ordered = user_factor * product_factor

In [ ]:
THRESHOLD = 0.30

submission_data = []

for row in test_orders_and_users:
    order_id = row[0]
    user_id = row[1]
    
    predicted_products = make_prediction(user_id,THRESHOLD)
    
    label_string = " ".join(str(prod_id) for prod_id in predicted_products)
    
    d = {'order_id':order_id, 'products': label_string if label_string else 'None'}
    
    submission_data.append(d)

df = pd.DataFrame(data=submission_data)

df.to_csv('submission.csv',index=False)