## https://www.kaggle.com/c/instacart-market-basket-analysis

- aisles.csv       

- order_products__prior.csv  

- orders.csv    

- sample_submission.csv

- departments.csv

- order_products__train.csv

- products.csv

### instructions:

> order_products_prior give the order information of all users in the history. order_products_train give the current order information of some users. You need to predict the current order of rest of users.

In [92]:
import pandas as pd

from tqdm import *

In [2]:
DATA_ROOT = "/media/felipe/ssd_vol/instacart/"

In [3]:
aisles_df = pd.read_csv(DATA_ROOT+"aisles.csv",index_col='aisle_id')

In [4]:
train_df = pd.read_csv(DATA_ROOT+"order_products__train.csv")

In [5]:
orders_df = pd.read_csv(DATA_ROOT+"/orders.csv",index_col='order_id')

/home/felipe/tf-venv3/lib/python3.5/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
departments_df = pd.read_csv(DATA_ROOT+"/departments.csv",index_col='department_id')

In [7]:
products_df = pd.read_csv(DATA_ROOT+"/products.csv",index_col='product_id')

In [8]:
prior_df = pd.read_csv(DATA_ROOT+"order_products__prior.csv")

In [9]:
aisles_df.sample(5)

                           aisle
aisle_id
14        tofu meat alternatives
107               chips pretzels
52              frozen breakfast
46                      mint gum
47          vitamins supplements

In [10]:
train_df.sample(5)

         order_id  product_id  add_to_cart_order  reordered
437994    1071436       28465                  7          1
1108300   2739646       29987                  5          1
725210    1783368       37011                  6          0
1113056   2750948       47209                 15          0
1286132   3177160       36772                 14          0

In [40]:
train_df[train_df['order_id']==1335]

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
372,1335,44359,1,1,90,prior,9,5,15,2.0
373,1335,21903,2,1,90,prior,9,5,15,2.0
374,1335,49683,3,1,90,prior,9,5,15,2.0
375,1335,31404,4,1,90,prior,9,5,15,2.0
376,1335,47209,5,1,90,prior,9,5,15,2.0
377,1335,11520,6,1,90,prior,9,5,15,2.0
378,1335,8277,7,1,90,prior,9,5,15,2.0
379,1335,49111,8,1,90,prior,9,5,15,2.0
380,1335,27845,9,1,90,prior,9,5,15,2.0
381,1335,13176,10,1,90,prior,9,5,15,2.0

In [11]:
prior_df.sample(5)

          order_id  product_id  add_to_cart_order  reordered
20822087   2196512       11520                  1          0
5031272     531134       40724                 12          0
3937021     415426       32433                 18          1
11397674   1203277        3868                 15          0
15922172   1679914       49009                  5          1

In [12]:
prior_df[prior_df["order_id"] == 3014401]

          order_id  product_id  add_to_cart_order  reordered
28582628   3014401       47141                  1          1
28582629   3014401       16900                  2          1
28582630   3014401       43100                  3          0
28582631   3014401       34350                  4          0

In [13]:
orders_df.sample(5)

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,
889773,130176,prior,13,2,11,6.0
462997,115620,prior,19,3,14,3.0
2878609,6325,prior,24,3,13,0.0
2594424,88961,test,5,2,13,30.0
892702,43174,prior,11,4,17,4.0

In [14]:
orders_df.sample(5)

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,
2744331,151802,prior,2,6,18,2.0
1767089,188366,prior,87,6,9,7.0
3109466,8282,prior,51,0,13,7.0
848869,161201,prior,4,2,11,1.0
1591133,85565,prior,11,1,8,12.0

In [15]:
orders_df.iloc[3014401]

user_id                   181906
eval_set                    test
order_number                   8
order_dow                      1
order_hour_of_day             12
days_since_prior_order         9
Name: 573984, dtype: object

In [16]:
orders_df.groupby(orders_df["eval_set"]).count()

,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
eval_set,,,,,
prior,3214874,3214874,3214874,3214874,3008665
test,75000,75000,75000,75000,75000
train,131209,131209,131209,131209,131209

In [17]:
orders_df.sample(5)

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,
2329050,115324,prior,21,3,18,19.0
2269327,22146,prior,36,2,10,15.0
1248632,117639,prior,19,4,14,7.0
1581879,50541,prior,1,0,15,NaN
487784,166366,train,8,1,16,30.0

In [18]:
departments_df.head()

              department
department_id
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [19]:
products_df.head()

,product_name,aisle_id,department_id
product_id,,,
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
5,Green Chile Anytime Sauce,5,13

In [20]:
aisles_df.head()

                               aisle
aisle_id
1              prepared soups salads
2                  specialty cheeses
3                energy granola bars
4                      instant foods
5         marinades meat preparation

## building a denormalized prior set

the denormalized dataset should have one row for each product

i know this will be huge and wasteful, but this is just meant to 
help me think about what structure I need the data to be in

this dataset will have data from BOTH the "train" as from the "prior" datasets

In [22]:
prior_df.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

first off - see what eval_set the users are in

In [39]:
prior_df_order_ids  = prior_df["order_id"]

In [ ]:
prior_df_user_ids = prior_df_order_ids.apply(lambda order_id: orders_df.iloc[])

now for the actual denormalization

In [ ]:
# add order information
prior_df = pd.concat([prior_df,prior_df.apply(lambda row: orders_df.iloc[row['order_id']],axis=1)],axis=1)
prior_df.sample(5)

In [ ]:
# add product information
prior_df= pd.concat([prior_df, prior_df.apply(lambda row: products_df.iloc[row['product_id']], axis=1)],axis=1)
prior_df.sample(5)

In [ ]:
# add aisle information
prior_df= pd.concat([prior_df, prior_df.apply(lambda row: aisles_df.iloc[row['aisle_id']], axis=1)],axis=1)
prior_df.sample(5)

In [ ]:
# add department information
prior_df= pd.concat([prior_df, prior_df.apply(lambda row: departments_df.iloc[row['department_id']], axis=1)],axis=1)
prior_df.sample(5)

In [ ]:
prior_df.drop(['product_id','aisle_id','department_id'],inplace=True,axis=1)

In [ ]:
prior_df.sample(5)

## now the same thing for the train_df

- there shouldn't be more than one order for each client, right?

In [23]:
train_df.describe()

           order_id    product_id  add_to_cart_order     reordered
count  1.384617e+06  1.384617e+06       1.384617e+06  1.384617e+06
mean   1.706298e+06  2.555624e+04       8.758044e+00  5.985944e-01
std    9.897326e+05  1.412127e+04       7.423936e+00  4.901829e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.433700e+05  1.338000e+04       3.000000e+00  0.000000e+00
50%    1.701880e+06  2.529800e+04       7.000000e+00  1.000000e+00
75%    2.568023e+06  3.794000e+04       1.200000e+01  1.000000e+00
max    3.421070e+06  4.968800e+04       8.000000e+01  1.000000e+00

In [25]:
train_df.sample(5)

         order_id  product_id  add_to_cart_order  reordered
24138       58003       34448                 17          0
699779    1720415        4163                 11          0
442684    1083774       38456                  1          1
783741    1929781        8929                 18          1
1071933   2649588       25146                  2          0

In [26]:
# add order information
train_df = pd.concat([train_df,train_df.apply(lambda row: orders_df.iloc[row['order_id']],axis=1)],axis=1)
train_df.sample(5)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1070188,2644993,26706,18,0,159242,prior,4,1,14,4.0
1347503,3329461,12771,10,0,200693,prior,14,5,11,30.0
598823,1472474,14678,16,1,88484,prior,13,1,14,21.0
1183716,2924726,13286,7,1,176456,prior,15,3,11,5.0
753677,1855140,18880,10,0,111365,prior,15,6,9,3.0

# LET's DO SOME EXPLORATION FOR USER 3

## let's see what user_id 3 is up to in train_df

In [49]:
u3 = train_df[train_df['user_id']==3]

In [53]:
u3.groupby('order_id').groups.keys()

dict_keys([36, 38])

In [74]:
order_ids_by_user3_in_train_df = list(u3.groupby('order_id').groups.keys())
order_ids_by_user3_in_train_df

[36, 38]

In [76]:
orders_df[orders_df.index.isin(order_ids_by_user3_in_train_df)]

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,
38,42756,train,6,6,16,24.0
36,79431,train,23,6,18,30.0

### user 3 has **TWO** orders in train_df

## and what about user 3 in prior_df?

first we need to get all orders made by him

In [59]:
all_orders_made_by_user3 = orders_df[orders_df["user_id"]==3]
all_orders_made_by_user3

,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,
1374495,3,prior,1,1,14,NaN
444309,3,prior,2,3,19,9.0
3002854,3,prior,3,3,16,21.0
2037211,3,prior,4,2,18,20.0
2710558,3,prior,5,0,17,12.0
1972919,3,prior,6,0,16,7.0
1839752,3,prior,7,0,15,7.0
3225766,3,prior,8,0,17,7.0
3160850,3,prior,9,0,16,7.0
676467,3,prior,10,3,16,17.0
521107,3,prior,11,0,18,11.0
1402502,3,prior,12,1,15,15.0
2774568,3,test,13,5,15,11.0

In [79]:
prior_df[prior_df["order_id"]==2774568]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

## user 3 has **13** orders in prior_df

In [66]:
order_ids_by_user3 = all_orders_made_by_user3.index.values
order_ids_by_user3

array([1374495,  444309, 3002854, 2037211, 2710558, 1972919, 1839752,
       3225766, 3160850,  676467,  521107, 1402502, 2774568])

In [68]:
prior_df[prior_df["order_id"].isin(order_ids_by_user3)]

          order_id  product_id  add_to_cart_order  reordered
4210776     444309       38596                  1          0
4210777     444309       21903                  2          1
4210778     444309         248                  3          0
4210779     444309       40604                  4          0
4210780     444309        8021                  5          0
4210781     444309       17668                  6          1
4210782     444309       21137                  7          0
4210783     444309       23650                  8          0
4210784     444309       32402                  9          1
4937733     521107       39190                  1          1
4937734     521107       47766                  2          1
4937735     521107       21903                  3          1
4937736     521107       43961                  4          1
4937737     521107       17668                  5          1
6409929     676467       18599                  1          1
6409930     676467       17668                  2          1
6409931     676467       47766                  3          1
6409932     676467       39190                  4          1
6409933     676467        1005                  5          0
6409934     676467       32402                  6          1
13022418   1374495        9387                  1          0
13022419   1374495       17668                  2          0
13022420   1374495       15143                  3          0
13022421   1374495       16797                  4          0
13022422   1374495       39190                  5          0
13022423   1374495       47766                  6          0
13022424   1374495       21903                  7          0
13022425   1374495       39922                  8          0
13022426   1374495       24810                  9          0
13022427   1374495       32402                 10          0
...            ...         ...                ...        ...
25701308   2710558       39190                  1          1
25701309   2710558        9387                  2          1
25701310   2710558       17668                  3          1
25701311   2710558       47766                  4          1
25701312   2710558       16965                  5          1
25701313   2710558       28373                  6          1
25701314   2710558       21903                  7          1
25701315   2710558       22035                  8          0
25701316   2710558       42265                  9          0
25701317   2710558       18370                 10          0
25701318   2710558       44683                 11          0
28473202   3002854       39190                  1          1
28473203   3002854       47766                  2          1
28473204   3002854       21903                  3          1
28473205   3002854       49683                  4          0
28473206   3002854       28373                  5          0
28473207   3002854        7503                  6          0
29967041   3160850       39190                  1          1
29967042   3160850       47766                  2          1
29967043   3160850       16797                  3          1
29967044   3160850       43961                  4          1
29967045   3160850       48523                  5          1
30582483   3225766       39190                  1          1
30582484   3225766       22035                  2          1
30582485   3225766       43961                  3          1
30582486   3225766       18599                  4          1
30582487   3225766       21903                  5          1
30582488   3225766       47766                  6          1
30582489   3225766       42557                  7          0
30582490   3225766       48523                  8          0

[88 rows x 4 columns]

## what users are in prior_df but not in train_df?

(these are the ones that we have to predict the items for)

In [87]:
unique_order_ids_in_prior_df = prior_df["order_id"].unique()

In [97]:
def maybe_get_user_id(order_id):
    try:
        user_id = orders_df.iloc[order_id]["user_id"]
    except IndexError:
        return None
    
    return user_id

In [99]:
user_ids_in_prior_df = [maybe_get_user_id(order_id) for order_id in unique_order_ids_in_prior_df ]
user_ids_in_prior_df = [ user_id for user_id in user_ids_in_prior_df if user_id is not None]

 24%|██▎       | 760672/3214874 [03:15<10:30, 3895.45it/s]

In [107]:
user_ids_in_prior_df = set(user_ids_in_prior_df)

In [108]:
len(user_ids_in_prior_df)

206208

In [102]:
unique_order_ids_in_train_df = train_df["order_id"].unique()

In [109]:
user_ids_in_train_df = [maybe_get_user_id(order_id) for order_id in unique_order_ids_in_train_df ]
user_ids_in_train_df = [ user_id for user_id in user_ids_in_train_df if user_id is not None]
user_ids_in_train_df = set(user_ids_in_train_df)

In [110]:
len(user_ids_in_train_df)

82365

In [112]:
user_ids_in_prior_df

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...}

In [113]:
user_ids_in_train_df

{1,
 131073,
 3,
 131080,
 131082,
 11,
 12,
 13,
 131084,
 131085,
 131086,
 17,
 131087,
 131089,
 20,
 21,
 131090,
 131092,
 131093,
 131094,
 131095,
 27,
 131096,
 131102,
 31,
 32,
 131104,
 131109,
 131111,
 131114,
 131115,
 131116,
 45,
 131117,
 131120,
 50,
 131123,
 52,
 131125,
 54,
 131127,
 56,
 131129,
 58,
 59,
 131131,
 131133,
 131134,
 63,
 131136,
 65,
 131137,
 67,
 131138,
 131139,
 71,
 74,
 75,
 131148,
 131152,
 131154,
 87,
 131159,
 89,
 90,
 131165,
 131166,
 131167,
 96,
 131168,
 131172,
 131173,
 131174,
 131176,
 105,
 106,
 107,
 131177,
 131179,
 110,
 131180,
 131181,
 113,
 131182,
 115,
 131183,
 117,
 118,
 131187,
 131188,
 131189,
 122,
 127,
 131200,
 129,
 131202,
 131203,
 132,
 131206,
 131207,
 131208,
 137,
 138,
 139,
 140,
 131210,
 142,
 131212,
 131213,
 146,
 131219,
 148,
 131222,
 131223,
 152,
 154,
 155,
 131227,
 131228,
 159,
 161,
 131234,
 131235,
 166,
 131240,
 131241,
 131244,
 173,
 131248,
 178,
 131250,
 131251,
 131252,
 182,
 131255,
 131258,
 187,
 190,
 192,
 131264,
 194,
 195,
 131266,
 131267,
 131268,
 131270,
 200,
 202,
 131274,
 204,
 205,
 206,
 131275,
 208,
 209,
 210,
 131279,
 131280,
 131282,
 214,
 215,
 216,
 217,
 131284,
 219,
 220,
 221,
 222,
 223,
 131291,
 225,
 131292,
 131296,
 131297,
 131299,
 230,
 131300,
 131303,
 131305,
 234,
 235,
 236,
 131306,
 131307,
 131308,
 240,
 241,
 131309,
 243,
 131313,
 245,
 131316,
 247,
 248,
 249,
 131317,
 251,
 131318,
 131322,
 131323,
 255,
 131325,
 257,
 258,
 131329,
 260,
 261,
 262,
 264,
 265,
 131336,
 267,
 131338,
 131339,
 270,
 271,
 273,
 274,
 131347,
 276,
 278,
 279,
 280,
 131350,
 282,
 283,
 284,
 131352,
 131355,
 287,
 131357,
 289,
 290,
 291,
 131360,
 293,
 131361,
 295,
 131362,
 297,
 131365,
 299,
 300,
 131368,
 131374,
 131375,
 304,
 131376,
 306,
 307,
 131378,
 309,
 310,
 131379,
 131385,
 131387,
 320,
 323,
 324,
 326,
 327,
 131400,
 329,
 131403,
 334,
 335,
 131406,
 337,
 131409,
 131411,
 131412,
 341,
 342,
 343,
 344,
 345,
 346,
 131415,
 131416,
 131417,
 350,
 131422,
 131424,
 353,
 355,
 356,
 131427,
 131431,
 131432,
 361,
 362,
 131433,
 364,
 365,
 366,
 131436,
 131439,
 369,
 370,
 131442,
 372,
 373,
 131444,
 131445,
 376,
 131448,
 131451,
 380,
 381,
 382,
 131452,
 131454,
 131455,
 131457,
 131458,
 131459,
 389,
 131461,
 391,
 131462,
 393,
 394,
 131464,
 396,
 131465,
 398,
 399,
 131468,
 401,
 131471,
 403,
 131473,
 131476,
 131480,
 409,
 131481,
 131484,
 417,
 131490,
 131491,
 131492,
 131493,
 422,
 423,
 131494,
 425,
 426,
 131495,
 131498,
 429,
 131499,
 432,
 131508,
 437,
 438,
 131510,
 441,
 442,
 446,
 447,
 448,
 131520,
 131521,
 451,
 131524,
 453,
 454,
 455,
 131526,
 131528,
 131529,
 131531,
 462,
 464,
 131536,
 466,
 131537,
 469,
 472,
 473,
 474,
 475,
 131545,
 131546,
 478,
 131550,
 131551,
 481,
 482,
 131552,
 486,
 487,
 131565,
 494,
 495,
 496,
 497,
 498,
 131566,
 131567,
 501,
 131569,
 503,
 131570,
 131571,
 131574,
 507,
 508,
 131575,
 131576,
 131582,
 131585,
 516,
 518,
 131590,
 131591,
 131593,
 131596,
 525,
 528,
 529,
 530,
 531,
 131604,
 131606,
 537,
 538,
 539,
 131613,
 543,
 131616,
 131618,
 131619,
 131620,
 551,
 552,
 131626,
 131627,
 559,
 560,
 561,
 562,
 131634,
 566,
 567,
 131639,
 131644,
 579,
 580,
 581,
 583,
 131658,
 587,
 588,
 589,
 131660,
 591,
 131663,
 596,
 131668,
 131674,
 603,
 604,
 131675,
 131676,
 607,
 131677,
 131681,
 612,
 131685,
 616,
 618,
 131692,
 131695,
 626,
 627,
 131699,
 629,
 634,
 635,
 131706,
 131708,
 131709,
 131711,
 640,
 131712,
 131714,
 643,
 131715,
 645,
 646,
 131718,
 648,
 649,
 131720,
 131721,
 652,
 653,
 131725,
 655,
 131726,
 131729,
 658,
 660,
 131733,
 662,
 131735,
 665,
 131737,
 667,
 669,
 670,
 672,
 131744,
 131745,
 675,
 131748,
 678,
 680,
 131753,
 685,
 131757,
 688,
 131761,
 690,
 691,
 692,
 131762,
 131765,
 695,
 696,
 131769,
 698,
 699,
 131771,
 701,
 131774,
 131775,
 704,
 705,
 706,
 131776,
 708,
 709,
 131777,
 131779,
 131783,
 713,
 714,
 131784,
 131785,
 131789,
 718,
 719,
 720,
 131791,
 722,
 131792,
 131795,
 131796,
 131797,
 728,
 729,
 131800,
 731,
 131805,
 734,
 735,
 131806,
 131807,
 131808,
 741,
 131813,
 743,
 745,
 131817,
 131819,
 749,
 131822,
 752,
 131827,
 131829,
 758,
 131831,
 131832,
 762,
 131834,
 764,
 131835,
 766,
 131838,
 131845,
 131846,
 131847,
 131848,
 131849,
 778,
 780,
 131853,
 782,
 131854,
 131855,
 785,
 786,
 787,
 131857,
 790,
 791,
 131864,
 131865,
 796,
 797,
 131868,
 799,
 800,
 131870,
 802,
 131874,
 131877,
 131878,
 807,
 131879,
 809,
 131880,
 811,
 814,
 131888,
 131889,
 818,
 820,
 822,
 823,
 824,
 825,
 131895,
 827,
 131897,
 131899,
 131901,
 131902,
 131904,
 833,
 131905,
 131906,
 836,
 131907,
 838,
 839,
 131908,
 131912,
 131913,
 131915,
 844,
 846,
 847,
 131920,
 849,
 131921,
 851,
 852,
 131923,
 854,
 131924,
 131925,
 131927,
 858,
 131928,
 860,
 131930,
 131932,
 863,
 131937,
 866,
 868,
 872,
 873,
 131946,
 879,
 880,
 131952,
 882,
 131954,
 131957,
 131958,
 131959,
 888,
 131961,
 891,
 892,
 893,
 131963,
 131965,
 896,
 131968,
 898,
 903,
 131975,
 131976,
 907,
 908,
 131979,
 131981,
 131982,
 131983,
 913,
 131988,
 917,
 131989,
 131992,
 131993,
 922,
 131994,
 131999,
 132003,
 132004,
 933,
 132006,
 935,
 132007,
 937,
 938,
 939,
 132011,
 132012,
 942,
 132017,
 946,
 947,
 132020,
 949,
 950,
 132022,
 132024,
 132025,
 955,
 956,
 957,
 132027,
 132028,
 132029,
 961,
 132033,
 963,
 964,
 132034,
 132035,
 132037,
 968,
 132038,
 132039,
 132041,
 132043,
 973,
 974,
 975,
 132045,
 132048,
 978,
 979,
 980,
 982,
 132054,
 984,
 986,
 132059,
 132060,
 990,
 132067,
 998,
 999,
 1000,
 1002,
 132074,
 1004,
 1005,
 1006,
 132077,
 1008,
 1009,
 132080,
 132081,
 1012,
 132082,
 132083,
 1016,
 132088,
 1018,
 1019,
 132092,
 1021,
 1022,
 1023,
 1024,
 132097,
 132098,
 1027,
 132099,
 132104,
 1035,
 1036,
 132110,
 1040,
 132112,
 132113,
 1044,
 132117,
 132119,
 132120,
 1049,
 1050,
 1051,
 132121,
 1055,
 1056,
 1058,
 1059,
 1060,
 132130,
 1062,
 1063,
 132132,
 132133,
 1066,
 132134,
 132135,
 1072,
 132144,
 1074,
 1075,
 132148,
 132151,
 132152,
 132154,
 1083,
 132155,
 1085,
 1086,
 1088,
 1089,
 132161,
 1091,
 132162,
 132163,
 132164,
 1095,
 1096,
 132167,
 132170,
 132171,
 1100,
 1101,
 132173,
 1103,
 132174,
 132175,
 132176,
 1107,
 132178,
 1109,
 132181,
 1111,
 1112,
 132182,
 132183,
 1115,
 132184,
 132187,
 1118,
 132188,
 1120,
 132190,
 1122,
 1123,
 1124,
 132191,
 132193,
 132194,
 132195,
 132196,
 1130,
 132199,
 1132,
 132200,
 132201,
 132205,
 1136,
 1137,
 1138,
 132206,
 132207,
 1141,
 1142,
 132208,
 132210,
 132211,
 132217,
 132218,
 1149,
 1150,
 132223,
 1152,
 132225,
 132226,
 132229,
 1158,
 132230,
 1160,
 132232,
 132233,
 1163,
 1164,
 1165,
 132234,
 132236,
 1168,
 132241,
 1170,
 132242,
 132243,
 1173,
 161560,
 132247,
 1177,
 1178,
 1180,
 1181,
 132254,
 1187,
 132259,
 132260,
 132261,
 1191,
 1192,
 1193,
 132262,
 132263,
 1196,
 1197,
 132264,
 1199,
 132269,
 1201,
 1202,
 1203,
 132271,
 1205,
 1206,
 132274,
 132276,
 1209,
 1210,
 132277,
 1212,
 1213,
 132279,
 1215,
 1216,
 132281,
 132282,
 1219,
 132285,
 1221,
 132287,
 132289,
 1224,
 1225,
 132290,
 132291,
 132292,
 132294,
 1230,
 1231,
 1232,
 132296,
 132298,
 1235,
 1236,
 132303,
 1238,
 132310,
 1240,
 132311,
 1242,
 132313,
 1244,
 1246,
 1247,
 132319,
 161563,
 1250,
 1253,
 1254,
 1255,
 1258,
 132330,
 1260,
 132331,
 1262,
 1263,
 1264,
 ...}

In [114]:
user_ids_to_test = user_ids_in_prior_df - user_ids_in_train_df

In [116]:
len(user_ids_to_test)

123844

## now, what ORDERS are in the prior_df but not in the train_df?

In [133]:
sorted(set(unique_order_ids_in_prior_df)-set(unique_order_ids_in_train_df))

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 35,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 350,
 351,
 352,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 415,
 416,
 417,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 453,
 454,
 455,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 493,
 494,
 495,
 496,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 514,
 515,
 516,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 760,
 761,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1043,
 1044,
 1045,
 1046,
 1047,
 ...]

In [141]:
sorted(set(unique_order_ids_in_train_df))

[1,
 36,
 38,
 96,
 98,
 112,
 170,
 218,
 226,
 349,
 393,
 456,
 473,
 631,
 719,
 762,
 774,
 844,
 878,
 904,
 915,
 988,
 1001,
 1032,
 1042,
 1077,
 1086,
 1119,
 1120,
 1139,
 1143,
 1145,
 1275,
 1280,
 1318,
 1325,
 1335,
 1342,
 1350,
 1468,
 1571,
 1572,
 1579,
 1591,
 1597,
 1620,
 1674,
 1682,
 1703,
 1721,
 1764,
 1851,
 1865,
 1890,
 1955,
 1983,
 1994,
 2011,
 2021,
 2029,
 2068,
 2087,
 2115,
 2191,
 2216,
 2318,
 2389,
 2415,
 2442,
 2445,
 2468,
 2530,
 2603,
 2711,
 2737,
 2820,
 2822,
 2853,
 2869,
 2888,
 2889,
 2936,
 2937,
 2948,
 2985,
 3010,
 3037,
 3056,
 3068,
 3091,
 3103,
 3142,
 3160,
 3176,
 3179,
 3200,
 3209,
 3212,
 3227,
 3243,
 3300,
 3309,
 3321,
 3327,
 3336,
 3349,
 3368,
 3378,
 3397,
 3405,
 3422,
 3473,
 3484,
 3509,
 3514,
 3527,
 3529,
 3533,
 3563,
 3649,
 3733,
 3740,
 3752,
 3785,
 3817,
 3819,
 3830,
 3861,
 3871,
 3898,
 3901,
 3938,
 3946,
 3957,
 3971,
 3979,
 4006,
 4011,
 4036,
 4067,
 4090,
 4092,
 4111,
 4146,
 4148,
 4164,
 4185,
 4189,
 4194,
 4201,
 4203,
 4217,
 4234,
 4250,
 4267,
 4269,
 4284,
 4305,
 4309,
 4340,
 4347,
 4361,
 4383,
 4415,
 4431,
 4437,
 4468,
 4494,
 4495,
 4505,
 4519,
 4556,
 4562,
 4577,
 4590,
 4633,
 4637,
 4638,
 4658,
 4677,
 4680,
 4695,
 4711,
 4726,
 4752,
 4772,
 4790,
 4801,
 4827,
 4844,
 4885,
 4914,
 4918,
 4935,
 4968,
 4979,
 4984,
 4998,
 5029,
 5044,
 5046,
 5081,
 5116,
 5117,
 5299,
 5354,
 5356,
 5362,
 5365,
 5368,
 5404,
 5416,
 5433,
 5437,
 5447,
 5459,
 5460,
 5466,
 5468,
 5532,
 5535,
 5606,
 5611,
 5619,
 5643,
 5660,
 5696,
 5715,
 5719,
 5728,
 5731,
 5734,
 5739,
 5743,
 5796,
 5830,
 5836,
 5846,
 5858,
 5903,
 5910,
 5933,
 5939,
 5950,
 5966,
 5981,
 5985,
 5991,
 6000,
 6023,
 6029,
 6096,
 6129,
 6180,
 6187,
 6199,
 6282,
 6286,
 6315,
 6333,
 6349,
 6355,
 6357,
 6369,
 6394,
 6434,
 6443,
 6454,
 6485,
 6549,
 6552,
 6562,
 6568,
 6594,
 6601,
 6693,
 6695,
 6764,
 6773,
 6804,
 6821,
 6833,
 6842,
 6845,
 6861,
 6880,
 6900,
 6935,
 6936,
 6945,
 6948,
 6971,
 7019,
 7034,
 7044,
 7049,
 7093,
 7096,
 7168,
 7177,
 7200,
 7264,
 7266,
 7318,
 7367,
 7386,
 7464,
 7537,
 7559,
 7560,
 7615,
 7627,
 7657,
 7692,
 7697,
 7724,
 7741,
 7746,
 7755,
 7793,
 7865,
 7876,
 7916,
 7925,
 7997,
 8005,
 8037,
 8116,
 8121,
 8144,
 8191,
 8210,
 8213,
 8216,
 8226,
 8231,
 8316,
 8349,
 8376,
 8400,
 8513,
 8562,
 8564,
 8568,
 8595,
 8616,
 8619,
 8704,
 8721,
 8742,
 8772,
 8839,
 8850,
 8932,
 8964,
 8980,
 9017,
 9059,
 9078,
 9180,
 9188,
 9206,
 9238,
 9294,
 9297,
 9321,
 9322,
 9339,
 9421,
 9517,
 9534,
 9593,
 9653,
 9720,
 9734,
 9776,
 9780,
 9839,
 9869,
 9879,
 9904,
 9926,
 9932,
 9934,
 10006,
 10015,
 10101,
 10146,
 10156,
 10162,
 10208,
 10242,
 10263,
 10270,
 10278,
 10285,
 10286,
 10287,
 10301,
 10362,
 10371,
 10414,
 10446,
 10507,
 10508,
 10526,
 10542,
 10616,
 10626,
 10642,
 10667,
 10696,
 10713,
 10736,
 10751,
 10752,
 10754,
 10791,
 10807,
 10812,
 10818,
 10845,
 10859,
 10889,
 10905,
 10922,
 10988,
 11039,
 11052,
 11098,
 11114,
 11119,
 11168,
 11185,
 11213,
 11236,
 11239,
 11282,
 11286,
 11301,
 11340,
 11382,
 11390,
 11395,
 11427,
 11435,
 11478,
 11480,
 11490,
 11526,
 11552,
 11611,
 11646,
 11650,
 11724,
 11759,
 11783,
 11806,
 11861,
 11877,
 11930,
 11961,
 11962,
 11978,
 11980,
 12009,
 12032,
 12120,
 12123,
 12151,
 12182,
 12200,
 12221,
 12393,
 12436,
 12462,
 12480,
 12510,
 12525,
 12538,
 12562,
 12594,
 12649,
 12651,
 12703,
 12707,
 12723,
 12743,
 12744,
 12760,
 12768,
 12770,
 12786,
 12837,
 12847,
 12875,
 12887,
 12950,
 12983,
 12984,
 12995,
 13038,
 13041,
 13055,
 13061,
 13066,
 13069,
 13073,
 13094,
 13097,
 13110,
 13169,
 13200,
 13235,
 13248,
 13315,
 13318,
 13329,
 13358,
 13365,
 13468,
 13481,
 13496,
 13549,
 13553,
 13554,
 13555,
 13562,
 13585,
 13586,
 13592,
 13701,
 13706,
 13746,
 13749,
 13769,
 13771,
 13825,
 13843,
 13863,
 13887,
 13890,
 13892,
 13908,
 13988,
 13997,
 13998,
 14043,
 14054,
 14083,
 14119,
 14126,
 14142,
 14170,
 14172,
 14246,
 14287,
 14301,
 14305,
 14312,
 14314,
 14317,
 14430,
 14437,
 14454,
 14538,
 14571,
 14585,
 14587,
 14654,
 14753,
 14792,
 14899,
 14902,
 14922,
 14946,
 14951,
 14963,
 14970,
 14971,
 14988,
 15016,
 15019,
 15044,
 15071,
 15091,
 15113,
 15131,
 15168,
 15177,
 15195,
 15213,
 15310,
 15367,
 15373,
 15430,
 15462,
 15477,
 15493,
 15548,
 15664,
 15693,
 15694,
 15701,
 15748,
 15763,
 15792,
 15843,
 15853,
 15878,
 15929,
 15955,
 16097,
 16117,
 16128,
 16139,
 16143,
 16152,
 16153,
 16182,
 16183,
 16184,
 16224,
 16230,
 16243,
 16247,
 16263,
 16281,
 16303,
 16349,
 16423,
 16428,
 16452,
 16453,
 16478,
 16530,
 16577,
 16590,
 16656,
 16664,
 16677,
 16722,
 16726,
 16824,
 16847,
 16910,
 16969,
 17010,
 17035,
 17047,
 17102,
 17112,
 17148,
 17152,
 17167,
 17188,
 17196,
 17205,
 17207,
 17220,
 17236,
 17275,
 17299,
 17360,
 17374,
 17403,
 17418,
 17531,
 17538,
 17549,
 17585,
 17589,
 17590,
 17610,
 17613,
 17618,
 17637,
 17683,
 17709,
 17713,
 17741,
 17752,
 17779,
 17829,
 17853,
 17906,
 17912,
 17941,
 17973,
 17982,
 17986,
 18020,
 18064,
 18079,
 18086,
 18099,
 18152,
 18162,
 18205,
 18207,
 18248,
 18261,
 18271,
 18312,
 18318,
 18333,
 18381,
 18400,
 18414,
 18488,
 18492,
 18543,
 18620,
 18629,
 18675,
 18711,
 18713,
 18726,
 18731,
 18742,
 18762,
 18769,
 18778,
 18798,
 18829,
 18888,
 18890,
 18901,
 18905,
 18915,
 18965,
 18975,
 18987,
 19004,
 19030,
 19041,
 19097,
 19098,
 19145,
 19173,
 19177,
 19204,
 19211,
 19236,
 19241,
 19271,
 19296,
 19303,
 19314,
 19345,
 19385,
 19405,
 19428,
 19431,
 19465,
 19471,
 19473,
 19485,
 19504,
 19515,
 19543,
 19552,
 19583,
 19602,
 19636,
 19660,
 19715,
 19739,
 19758,
 19794,
 19804,
 19810,
 19828,
 19871,
 19874,
 19893,
 19946,
 19977,
 20008,
 20018,
 20076,
 20079,
 20103,
 20121,
 20137,
 20147,
 20162,
 20169,
 20179,
 20194,
 20249,
 20253,
 20258,
 20313,
 20316,
 20317,
 20319,
 20333,
 20340,
 20342,
 20358,
 20385,
 20407,
 20408,
 20423,
 20440,
 20444,
 20460,
 20569,
 20632,
 20667,
 20708,
 20755,
 20756,
 20771,
 20789,
 20813,
 20820,
 20867,
 20900,
 20911,
 20951,
 20978,
 20990,
 21005,
 21029,
 21060,
 21077,
 21115,
 21151,
 21173,
 21189,
 21223,
 21258,
 21270,
 21273,
 21303,
 21371,
 21417,
 21440,
 21461,
 21463,
 21464,
 21572,
 21580,
 21582,
 21600,
 21605,
 21645,
 21696,
 21701,
 21708,
 21720,
 21746,
 21778,
 21796,
 21847,
 21861,
 21894,
 21957,
 21961,
 21971,
 22019,
 22021,
 22032,
 22035,
 22054,
 22082,
 22093,
 22096,
 22100,
 22126,
 22146,
 22150,
 22151,
 22167,
 22179,
 22186,
 22194,
 22206,
 22250,
 22290,
 22352,
 22437,
 22440,
 22486,
 22510,
 22576,
 22594,
 22596,
 22632,
 22663,
 22669,
 22729,
 22735,
 22748,
 22800,
 22875,
 22893,
 22901,
 22921,
 22986,
 23034,
 23041,
 23046,
 23077,
 23080,
 23084,
 23095,
 23153,
 23192,
 23200,
 23279,
 23294,
 23329,
 23353,
 23395,
 23406,
 23408,
 23412,
 23566,
 23598,
 23606,
 23669,
 23733,
 23739,
 23744,
 23764,
 23769,
 23777,
 23813,
 23840,
 23848,
 23870,
 23886,
 23887,
 23960,
 23978,
 23993,
 24090,
 24112,
 24152,
 24208,
 24211,
 24230,
 24239,
 24247,
 24259,
 24365,
 24368,
 24386,
 24416,
 24417,
 24431,
 24461,
 24465,
 24466,
 24467,
 24482,
 24565,
 24629,
 24657,
 24664,
 24666,
 24707,
 24717,
 24734,
 24778,
 24818,
 24838,
 24849,
 24862,
 24898,
 24921,
 24968,
 24994,
 24996,
 24997,
 25006,
 25115,
 25162,
 25166,
 25180,
 25217,
 25219,
 25315,
 25341,
 25428,
 25472,
 25501,
 25522,
 25524,
 25525,
 25558,
 25604,
 25629,
 25641,
 25672,
 25676,
 25728,
 ...]

In [134]:
len(set(unique_order_ids_in_train_df))

131209

In [143]:
sorted(set(unique_order_ids_in_prior_df))

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 35,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 350,
 351,
 352,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 415,
 416,
 417,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 453,
 454,
 455,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 493,
 494,
 495,
 496,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 514,
 515,
 516,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 760,
 761,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1043,
 1044,
 1045,
 1046,
 1047,
 ...]

In [135]:
len(set(unique_order_ids_in_prior_df))

3214874

In [124]:
len(order_ids_to_test)

3214874

In [140]:
len(set(unique_order_ids_in_prior_df).intersection(set(unique_order_ids_in_train_df)))

0

### conclusion: no orders in prior_df are also in train_df